html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "Дымоход"
    body
        header.header
            .logo
                a(class="logo__img" href='#')
            button.circle-btn.circle-btn_burger
            nav.menu
                a.menu__link.link(href='#') Каталог товаров
                a.menu__link.link(href='#') Доставка и оплата
                a.menu__link.link(href='#') Цены
                a.menu__link.link(href='#') Контакты
            a.phone(href="tel:+78125092198") +7 (812) <span>509 21 98</span>
            a.call-me Перезвоните мне
            .socials.socials_header
                a(href="#" class="socials__icon socials__icon_vk")
                a(href="#" class="socials__icon socials__icon_tg")
                a(href="#" class="socials__icon socials__icon_insta")
                a(href="#" class="socials__icon socials__icon_wots")

            .buttons
                button.circle-btn.circle-btn_search
                button.circle-btn.circle-btn_favorites
                button.circle-btn.circle-btn_bucket
        h1 Монтаж дымоходов
        ul
            li Главная
            li Монтаж дымоходов
        section.section-first
            p В Дымоход.ру  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
            .first-section__desription
                .first-section__desription_left
                    h2 Lorem ipsum dolor sit amet <br>Lorem ipsum
                    ul
                        li Доступные цены
                        li Собственное производсвто  Дымоходов
                        li Выполнение необходимых работ, связанных с установкой камина, печи, котла
                        li Гарантия (от трёх до десяти лет)
                        li Работаем чисто, аккуратно, убираем за собой, не сквернословим
                        li Только русские квалифицированные специалисты
                        li Устанавливаем любые дымоходы всех производителей
                .first-section__desription_img
        section.section-process
            h2 Процесс выполнения монтажа
            .section-process__grid
                .section-process__item Рассчёт предварительной заявки
                .section-process__item Замер объекта нашим инженером
                .section-process__item Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
                .section-process__item Изготовление Дымохода, покраска (если требуется)
                .section-process__item Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
                .section-process__item Гарантийное обслуживание по соответствующем сроку
        section.section-why
            p В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
            .section-why__theses
                .section-why__item
                    .why-item__img
                    .why-item__heading Большой гарантийный срок
                    .why-item__text Крепёж, стыковка элементов – 10 лет<br>Сквозная коррозия труб – 5 лет<br>Гидроизоляция – 3 года
                .section-why__item
                    .why-item__img
                    .why-item__heading Помощь в покупке агрегата
                    .why-item__text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
                .section-why__item
                    .why-item__img
                    .why-item__heading Реальные отзывы клиентов
                    .why-item__text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
        h3 необходима консультация?
        p.sub-heading оставьте заявку или свяжитесь с нами в социальных сетях
        .socials.socials_page
            a(href="#" class="socials__icon socials__icon_vk")
            a(href="#" class="socials__icon socials__icon_tg")
            a(href="#" class="socials__icon socials__icon_insta")
            a(href="#" class="socials__icon socials__icon_wots")
        section.consult
            p Для консультации заполните форму!
            p С Вами свяжутся в ближайшее время
            form(class="form-consult" method="" action="#")
                input(type="text" name="name" placeholder="Ваше имя")
                input(type="tel" name="phone" placeholder="Ваш телефон")
                button отправить
        section.section-video
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .section-video__video
        section.section-photo
            h3 Фото выполненных работ
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .section-photo__grid
                img(class="section-photo__img" src="")
