.socials {
    display: flex;
    gap: 16px;
}

.socials_header {

}

.socials__icon {
    background: center no-repeat;
    width: 20px;
    height: 20px;
    transition: 0.2s;
    &:hover {
        filter: brightness(70%);
    }
}

.socials__icon_vk {
    background-image: url('../assets/icons/vk.svg');
}
.socials__icon_tg {
    background-image: url('../assets/icons/telegram.svg');
}
.socials__icon_insta {
    background-image: url('../assets/icons/instagram.svg');
}
.socials__icon_wots {
    background-image: url('../assets/icons/whatsapp.svg');
}