.wrapper {
    max-width: 1218px;
    margin: 0 auto;
}

.socials {
    display: flex;
    gap: 16px;
    width: fit-content;
}

.socials__icon {
    background: center no-repeat;
    width: 20px;
    height: 20px;
    transition: 0.2s;
    &:hover {
        filter: brightness(70%);
    }
}

.socials_footer {
    gap: 36px;
}

.socials__icon_vk {
    background-image: url('../assets/icons/vk.svg');
}
.socials__icon_tg {
    background-image: url('../assets/icons/telegram.svg');
}
.socials__icon_insta {
    background-image: url('../assets/icons/instagram.svg');
}
.socials__icon_wots {
    background-image: url('../assets/icons/whatsapp.svg');
}

.section-consult__form {
    width: min(100%, 866px);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
    padding: 55px;
    padding-top: 33px;
    margin: 40px auto 0;
    box-sizing: border-box;
        p:first-child {
            font-size: 20px;
            font-weight: 500;
                span {
                    font-weight: bold;
                    color: #EA6628;
                }
        }
}

.form-consult {
    display: flex;
    gap: 16px;
    width: 100%;
    flex-basis: content;
        * {
            flex-grow: 1;
        }
}


.input-text {
    padding: 17px;
    border: 1px solid $color-e5;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    &::placeholder {
        color: #b1b1b1;
    }
    &:invalid {
        color: #E33E54;
        border-color: #E33E54;
    }
}

.form-button {
    font-weight: bold;
    padding: 17px;
    background-color: #215359;
    border-radius: 4px;
    color: white;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    flex-grow: 4;
    &:hover {
        background-color: lighten(#215359, 10%);
    }
}



@media (max-width: 768px) {
    .socials {
        display: none;
    }
    .wrapper {
        padding: 0 1rem;
    }
}