header {
    display: flex;
    align-items: center;
    width: 93%;
    margin: 26px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: 97px;
}

.logo__img {
    display: block;
    width: 100%;
    height: 100%;
    background: center / cover no-repeat url('../assets/images/logo.png');
}

.menu {
    display: flex;
    gap: 36px;
}

.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-link;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: darken($color-link, 25%);
    }
}

.circle-btn {
    border-radius: 50%;
    border: 1px solid $color-e5;
    width: 56px;
    height: 56px;
    background: center no-repeat;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border-color: #aaa;
    }
}

.buttons {
    display: flex;
    gap: 16px;
}

.circle-btn_burger {
    background-image: url('../assets/icons/burger.svg');
    position: relative;

}

.bucketDiv {
    position: relative;

    &::after {
        content: '10';
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #E33E54;
        position: absolute;
        top: 2px;
        right: -2px;
        color:white;
        line-height: 22px;
        text-align: center;
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        pointer-events: none;
    }
}
    .circle-btn_search {
        background-image: url('../assets/icons/loupe1.svg');
    }

    .circle-btn_favorites {
        background-image: url('../assets/icons/heart1.svg');
    }

    .circle-btn_bucket {
        background-image: url('../assets/icons/shopping-cart.svg');
    }

    .phone {
        @extend.menu__link;
        font-weight: 400;
        color: #4C858B;

        &:hover {
            color: rgb(201, 201, 201);
        }

        span {
            color: #000;
            font-weight: bold;
        }
    }

    .call-me {
        @extend .menu__link;
        color: #AE2236;
        border-bottom: 1px dashed #AE2236;
        padding-bottom: 2px;

        &:hover {
            color: lighten(#AE2236, 20%);
        }
    }


    @media (max-width: 768px) {
        .logo {
            width: 64px;
            height: 64px;
        }

        .call-me,
        .phone,
        .menu {
            display: none;
        }

        .header {
            border-bottom: 1px solid $color-e5;
            padding-bottom: 26px;
            margin: 26px auto;
        }

        .circle-btn_burger {
            order: 1;
        }

        .buttons {
            margin-left: auto;
            margin-right: 1rem;
        }
    }


    @media (max-width: 320px) {
        .circle-btn_search {
            display: none;
        }

        .circle-btn_favorites {
            display: none;
        }

    }