body {
    font: 16px/1.4 Montserrat, Arial, sans-serif;
}

h1 {
    font-size: 60px;
    margin: 50px 0 33px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 7px;
    padding: 13px 0;
    border-top: 1px solid $color-e5;
    border-bottom: 1px solid $color-e5;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    font-size: 12px;
    color: #B1B1B1;
    text-decoration: none;

    &::before {
        content: url('../assets/icons/right-arrow-bread.svg');
        margin-right: 6px;
    }

}

.breadcrumbs__item_first {
    &::before {
        content: unset;
    }
}

.breadcrumbs__item_last {
    color: #4C858B
}

.mobile {
    display: none;
}

h2 {
    font-size: 40px;
    line-height: 63px;
    position: relative;
    padding-top: 10px;

    &::before {
        content: '';
        width: 74px;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #E33E54;
    }
}

.h2-span {
    color: #E33E54;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.h2_noline::before {
    content: unset;
}

.section-first {
    margin-bottom: 64px;
}

.first-section__list {
    margin-left: 12px;
}

.first-section__desription {
    // display: flex;
    position: relative;
}

.first-section__desription_left {
    max-width: 48%;
}

.first-section-list__item {
    margin-bottom: 14px;

    &::marker {
        color: #EA6628;
        font-size: 22px;
    }
}

.first-section__desription_img {
    position: absolute;
    left: 50%;
    top: 0;
    width: 766px;
    height: 573px;
    background:
        center top / 60% no-repeat url('../assets/images/img-top.png'),
        center / contain no-repeat url('../assets/images/img-bg.svg'), ;
}



//      section process

.section-process {
    margin-top: 108px;
    margin-bottom: 100px;
}

.section-process__grid {
    // column-count: 2;
    // margin: 50px 0 80px;
    display: grid;
    margin-top:60px;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 85px 85px 85px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 37px;
    align-items: center;
}

.section-process__item {
    // display: flex;
    // align-items: center;
}

.section-process__item div {
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;

}

.giga-first {
    font-size: 70px;
    color: #E33E54;
    opacity: 0.2;
    margin-right: 26px;
    font-weight: 700;
    width: 50px;
}


//      why

.section-why {
    margin-bottom: 100px;
}

.section-why__theses {
    display: flex;
    gap: 30px;
}

.why-item__img {
    width: 77px;
    height: 77px;
    background: center no-repeat;
    margin-top: 50px;
}

.section-why__item {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    gap: 28px;
}

.why-item__heading {
    font-size: 20px;
    font-weight: bold;
}

.why-item__text {
    margin-top: -13px;
}

.why1 {
    background-image: url('../assets/icons/why01.svg');
}

.why2 {
    background-image: url('../assets/icons/why02.svg');
}

.why3 {
    background-image: url('../assets/icons/why03.svg');
}


//      consult

.section-consult {
    margin-bottom: 110px;
    margin-top: -20px;
}

.h3_consult {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    overflow: hidden;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sub-heading {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-top: 0;
}

.socials_page {
    margin: 40px auto;
    gap: 40px;

    .socials__icon {
        transition: 0.2s;
        filter: grayscale(100%) sepia(100%) hue-rotate(10deg);

        &:hover {
            filter: brightness(70%);
        }
    }
}



//      video

.section-video {
    margin-bottom: 175px;
}

.section-video h2 {
    margin-bottom: 66px;
}

.section-video p {
    margin-bottom: 50px;
    letter-spacing: -0.2px;
}

.section-video__video {
    background: center / contain no-repeat url('../assets/icons/bg-video.svg');
    width: 100%;
    height: 400px;
    position: relative;
}

.video-youtube {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
}


//    photo

.section-photo {
    margin-bottom: 140px;

    .font-body {
        margin: 60px 0;
        letter-spacing: -0.2px;
        margin-bottom: 50px;
    }
}


.section-photo__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.section-photo__item {
    aspect-ratio: 1/0.93;
    background: center / 120% no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;

    &::after {
        content: url('../assets/icons/corner.svg');
        position: absolute;
        top: 0;
        right: 0;
    }

    &::before {
        content: url('../assets/icons/corner.svg');
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(180deg);
    }
}

.photo1 {
    background-image: url('../assets/images/img.jpg');
}

.photo2 {
    background-image: url('../assets/images/img2.jpg');
}

.photo3 {
    background-image: url('../assets/images/img3.jpg');
}

.photo4 {
    background-image: url('../assets/images/img4.jpg');
}

.photo5 {
    background-image: url('../assets/images/img5.jpg');
}

.photo6 {
    background-image: url('../assets/images/img6.jpg');
}

.photo7 {
    background-image: url('../assets/images/img7.jpg');
}

.photo8 {
    background-image: url('../assets/images/img8.jpg');
}


@media (max-width: 1650px) {
    .first-section__desription_img {
        left: unset;
        right: 0;
        z-index: -1;
    }
}




@media (max-width: 768px) {
    .first-section__desription_img {
        display: none;
    }

    h1 {
        font-size: 45px;
        margin-bottom: 24px;
        margin-top: 52px;
    }

    .breadcrumbs {
        padding: 12px 0;
        margin-bottom: 63px;
    }

    .section-first {
        margin-bottom: 0;
    }

    .section-process {
        margin-top: 56px;
        margin-bottom: 54px;
    }

    h2 {
        font-size: 30px;
        padding-top: 7px;
    }

    .h2-span {
        font-size: 40px;
    }

    .h2_noline {
        font-size: 30px;
        line-height: 44px;
        margin-top: 0;
    }

    .section-why {
        margin-bottom: unset;
    }

    .first-section__desription_left {
        max-width: unset;
    }

    .section-process__grid {
        // grid-template-rows: 27px 103px 86px;
        row-gap: 15px;
        margin-top: -20px;
    }

    .section-consult {
        margin-top: -14px;
    }

    .why-item__img {
        margin-top: 30px;
    }

    .why3 {
        margin-top: -18px;
    }

    .giga-first+div {
        font-size: 14px;
        line-height: 26px;
    }

    .giga-first {
        font-size: 50px;
        margin-right: 8px;
    }

    .why-item__text {
        font-size: 14px;
        line-height: 26px;
    }

    .section-why__theses {
        flex-wrap: wrap;
    }

    .section-why__item {
        flex-basis: 47%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why-item__text.font-body {
        text-align: center;
    }

    .h3_consult {
        font-size: 40px;
        font-weight: 800;
        margin-top: 47px;
    }

    .sub-heading {
        font-size: 16px;
    }

    .socials_page {
        display: flex;
        margin: 31px auto;
    }

    .section-consult__form p {
        text-align: center;
        &:last-of-type {
            margin-top: -11px;
            margin-bottom: 22px;
        }
    }

    .section-consult__form {
        padding-top: 22px;
    }

    .section-consult {
        margin-bottom: 53px;
    }

    .section-video p {
        margin-bottom: 32px;
        letter-spacing: unset;
    }

    .section-video h2 {
        margin-bottom: 3px;
    }

    .section-video__video {
        height: fit-content;
    }

    .section-video {
        margin-bottom: 50px;
    }

    .form-button {
        width: 240px;
    }

    .why-item__heading {
        font-size: 18px;
    }

    .section-photo .font-body {
        margin-top: unset;
        margin-bottom: 25px;
        letter-spacing: 0.2px;
    }

    .section-photo {
        margin-bottom: 58px;
    }

    .input-text {
        max-width: 354px;
        width: 84%;
    }

    .form-consult {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .video-youtube {
        position: initial;
        transform: unset;
        width: 100%;
        height: 419px;
    }

    .section-photo__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper-footer .footer__item {
        display: none;
    }

    .socials_tablet {
        display: flex;
        margin: 0 auto;
    }

    .footer {
        padding: 26px 0;
    }
}


@media (max-width:320px) {
    .mobile {
        display: initial;
    }

    h1 {
        font-size: 30px;
        margin-top: 36px;
        margin-bottom: 5px;
    }

    .logo {
        width: 47px;
        height: 47px;
    }



    .circle-btn {
        width: 44px;
        height: 44px;
    }

    .notmobile {
        display: none;
    }

    .breadcrumbs {
        padding: 10px 0;
        line-height: 0.6;
        margin-bottom: 25px;
    }
    .first-section__list {
        margin: 0;
        li {
            margin-bottom: 17px;
        }
    }
    .h2_noline {
        font-size: 18px;
        margin-top: 0;
        padding-top: 0;
        line-height: 38px;
        margin-bottom: 8px;

        span {
            font-size: 30px;
        }
    }
    .section-first {
        margin-top: -9px;
    }

    .section-process__grid {
        grid-auto-flow: initial;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }

    .section-why__item {
        flex-basis: 100%;
    }

    .why-item__heading {
        text-align: center;
    }
    .section-process {
        margin-top: 36px;
        margin-bottom: 45px;
    }
    h2 {
        line-height: 30px;
        padding-top: 15px;
    }
    .giga-first + div {
        max-width: 78%;
    }
    .why-item__img,
    .why3 {
        margin-top: 18px;
    }
    .h3_consult {
        font-size: 22px;
    }
    .section-process__grid {
        row-gap: 13px;
        margin-top: 20px;
    }
    .section-consult {
        margin-top: 48px;
    }
    .giga-first {
        margin-right: -2px;
    }
    .section-why__item {
        gap: 12px;
    }
    .section-consult__form p:first-child {
        font-size: 18px;
        margin-top: 5px;
        padding-top: 22px;
    }
    .sub-heading {
        font-size: 14px;
        margin-top: 9px;
    }
    .form-consult {
        gap: 28px;
    }
    .section-consult {
        margin-bottom: 50px;
    }
    .section-consult__form {
        box-shadow: unset;
        border-top: 1px solid $color-e5;
        padding: 0;
        margin-top: 0;
    }
    .section-video p {
        margin-top: 30px;
        letter-spacing: unset;
    }
    .section-consult__form p {
        text-align: center;
    }

    h2 {
        font-size: 20px;
    }

    .section-video__video {
        background: unset;
        height: auto;
    }

    .video-youtube {
        height: fit-content;
    }

    .section-photo__grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
    }

    .section-photo__item {
        margin-top: unset;
    }
    .socials_page {
        margin-bottom: 22px;
    }
    .section-photo .font-body {
        letter-spacing: unset;
        margin-bottom: 10px;
    }
    .section-why > .font-body {
        margin: 29px 0 3px;
    }
}